.mainContainer {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  .loginContainer {
    padding: 20px;
    width: 340px;
    border: 1px #000 solid;
    border-radius: 20px;
    display: grid;
    place-items: center;
  
    .formContainer {
      width: 300px;

      .formTitle {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }

      .bottomFormItem {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        font-size: 0.8rem;
      }

      .linkTextButton {
        cursor: pointer;
        color: #4096FF;
      }
    }
  }
}