.page404 {
  padding: 40px 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.fourZeroFourBG {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-size: 6rem;
    color: rgba(102, 48, 253, 1);
  }
}

.contentBox404 {
  margin-top: -50px;

  h3 {
    font-size: 4rem;
    margin: 0;
  }

  p {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.textCenter {
  text-align: center;
}
