.homePageSection {
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(to bottom right, rgba(66, 33, 175, 1), rgba(56, 6, 218, 0.64));
  overflow: hidden;
}

.librariesSection {
  height: 100dvh;
  background-color: #ffd524;
}
